<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/home.css" />
  </head>
  <body>
    <div class="main" id="particles-js">
      <div class="content">
        <h2>Social Media Network Traffic Analysis</h2>
        <p>
          Analysis of network traffic statistics for social media platforms
          using PySpark
        </p>
        <hr />
        <a href="{{ url_for('dashboard')}}">Dashboard</a>
      </div>
    </div>
    <script src="/static/particles.js"></script>
    <script src="/static/main.js"></script>
  </body>
</html>
